<!doctype html>
<!-- bootstrap starter template from: https://getbootstrap.com/docs/5.1/getting-started/introduction/ -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/cedb82d192.js" crossorigin="anonymous"></script>

    <!-- Link to personal CSS file -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='final.css') }}">

    <!--Link to personal JS file-->
    <script src="{{ url_for('static', filename='finalJS.js') }}"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>
{% if logged == 0 %}
<header class="log_reg_container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="col-sm-12">
        <div class="alert alert-{{ category }} border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</header>
{% endif %}


<body>
    <!-- Inverted BS navigation bar using forms and submit buttons to call HTTP routes rather than hyperlinks-->
    <nav class="navbar navbar-inverse fixed-top">
        <div class="container-fluid">
            <div class="navbar_header" style="font-size: x-large;">
                <a class="navbar-brand" href=" {{ url_for('budget.index') }}"><i class="fas fa-home"></i></a>
                <span style="color: purple;"> M</span>
                <span style="color: blue">y</span>
                <span style="color: green">D</span>
                <span style="color: goldenrod">i</span>
                <span style="color: orange">a</span>
                <span style="color: red">l</span>
                <span style="color: purple">e</span>
                <span style="color: blue">d</span>
                <span style="color: green">B</span>
                <span style="color: goldenrod">u</span>
                <span style="color: orange">d</span>
                <span style="color: red">g</span>
                <span style="color: purple">e</span>
                <span style="color: blue">t</span>
            </div>

            <!-- Navbar when user IS logged in-->
            {% if session.user_id %}
            <ul class="nav navbar-nav navbar-right">
                <form method="GET">
                    <a href="{{ url_for('settings.settings_route')}}"><img class="rounded-circle account-img pointer"
                            src="{{ avatar_key }}" type="submit" {{ url_for('settings.settings_route')}}"></a>
                    <button class=" btn" type="submit" formaction="/logout"><i class="fas fa-sign-out-alt"></i></button>
                </form>
            </ul>

            <!-- When user is NOT logged in-->
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <form>
                    <button class="btn btn-primary" type="submit" formaction="/register"><i class='fas fa-user-alt'></i>
                        Register</button>
                    <button class="btn btn-primary" type="submit" formaction="/login"><i class='fas fa-sign-in-alt'></i>
                        Login</button>
                </form>
            </ul>

            {% endif%}
        </div>

    </nav>

    <!-- Show left nav bar if user IS logged in -->
    {% if session.user_id %}

    <!-- Main container -->
    <div class="container-fluid nav_padd">

        <!-- Main container Row -->
        <div class="row">

            <!-- Left vertical nagivation panel -->
            <!-- Positionis is fixed -->
            <div class="col-sm-2 left_nav">

                <!-- Budget row -->
                <a href="{{ url_for('budget.index') }}">
                    <div class="row left_nav_row">
                        <h3>Budget</h3>
                    </div>
                </a>

                <!-- Transactions row -->
                <a href="{{ url_for('history.transactions') }}">
                    <div class="row left_nav_row">
                        <h3>History</h3>
                    </div>
                </a>

                <!-- Allocate row -->
                <a href="{{ url_for('allocations.allocate') }}">
                    <div class="row left_nav_row">
                        <h3>Allocate</h3>
                    </div>
                </a>

                <!-- Post row -->
                <a href="{{ url_for('transactions.expense') }}">
                    <div class="row left_nav_row">
                        <h3>Post</h3>
                    </div>
                </a>

            </div>

            <!-- Because position is fixed on left nav, this empty col-2 lays over it and pushes the remaining 10  -->
            <div class="col-sm-2"></div>


            <!-- Main area where all page content lives is stored in the remaining 10 columns -->
            <div class="col-sm-10 main-group">

                <!-- Flash messages within this col so that it doesn't overlay the left nav bar -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="col-xs-10">
                    <div class="alert alert-{{ category }} border text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}


                {% block main %}

                <!-- Take note here that when the user is logged in, everything that's placed into this will be
                            operating within a 10-col grid. That is because block main is placed within the BS grid
                            that houses the 2-col left navigation bar and leaves the rest for the given pages content. -->

                {% endblock main %}

            </div>
        </div>
    </div>

    {% else %}

    {% block login %}

    {% endblock login %}

    {% endif %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>