{% extends "layout.html" %}
{% block title %}
{{ ptitle }}
{% endblock title %}

{% block login %}
<div class="row" style="height: 200px;"></div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Login</h2>
        <form action="{{ url_for('account.login') }}" method="POST">
            <div class="form-group">
                <input type="text" name="username" class="form-control login-form" placeholder="Username"
                    autocomplete="off" autofocus>
                <input type="password" name="password" class="form-control login-form" placeholder="Password"
                    autocomplete="off" autofocus>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <br>
        <form action="{{ url_for('account.reset_request') }}" method=" GET">
            <button type="submit" class="btn btn-default btn-sm border">Forgot Password?</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>

{% endblock login %}