{% extends "layout.html" %}
{% block title %}
{{ ptitle }}
{% endblock title %}

{% if logged %}
<!-- SHOW LOGGED-IN TAMPLATE -->
{% block main %}
<div class="row">
    <div class="col-sm-10">
        <h2>Internal Server Error</h2>
        <p>Well, you caught us slacking... The pressure is on -_-</p>
    </div>
</div>

{% endblock main %}

{% else %}
<!-- SHOW NOT-LOGGED-IN TAMPLATE -->
{% block login %}
<div class="row" style="height: 200px;"></div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Internal Server Error</h2>
        <p>Well, you caught us slacking... The pressure is on -_-</p>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock login %}

{% endif %}